.products {
margin: 100px 10% 0 ;
}

.row {
    display: flex; 
    flex-basis: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
    font-size: 25px;

}
.col__2 {
    display: flex;
}
.col__2 select {
    margin-left: 20px;
}


.products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly

}

