.product {
    max-width: 20%;
    min-width: 250px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.product:active {
    border: 1px solid black;
}

.image { 
 width: 100%;
}

.info__top {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.info__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
