.row {
    display: flex;
    flex-basis: 24%;
    min-width: 250px;
    
}

.productWrapper {
    margin-bottom: 30px;
}

.image { 
 width: 100%;
 cursor: pointer;
 margin-bottom: 5px;
 transition: 0.2s;
}

.image:hover {
    transform: scale(105%);
}

.description {
    font-size: 14px;
    color: #626267;
}

.price {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    top: -45px;
    left: 10px;
    background: white;
}
