.searchbar {
    display: flex;
    

}

.searchbar__input {
    background-color: whitesmoke;
    border: none;
    height: 30px;
    padding-left: 5px ;
    
}
.searchbar__button {
    background: whitesmoke;
    border: none;
    height: 30px;

}
.searchbar__searchButton {
    display: flex;
    width: 15px

}